In [3]:
import pandas as pd

Mem_concat = pd.read_csv('./dataset/members_concat_v2.csv')
Mem_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466762 entries, 0 to 466761
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   MEMBER_ID   466762 non-null  object
 1   GUBUN       466762 non-null  int64
 2   COUNTRY_CD  466579 non-null  object
 3   KEYWORD     191511 non-null  object
 4   LOGIN_DT    466762 non-null  int64
 5   LOGIN_CNT   466762 non-null  int64
 6   INPUT_DT    466762 non-null  int64
 7   UPDATE_DT   466762 non-null  int64
 8   REMOTEIP    466762 non-null  object
 9   SHOW_CHK    466762 non-null  int64
 10  MTYPE       466762 non-null  int64
 11  ORDER_FLG   466762 non-null  int64
 12  judge       466762 non-null  int64
dtypes: int64(9), object(4)
memory usage: 46.3+ MB

# 'KEYWORD' CountVectrizer()

In [18]:
Mem_concat[Mem_concat['KEYWORD'].isna()]

,MEMBER_ID,GUBUN,COUNTRY_CD,KEYWORD,LOGIN_DT,LOGIN_CNT,INPUT_DT,UPDATE_DT,REMOTEIP,SHOW_CHK,MTYPE,ORDER_FLG,judge
58,pepe578,0,US,NaN,20210825,1,20210825,20210825,162.222.198.62,0,1,90,0
75,muscathowad1,1,CM,NaN,20180522,1,20180522,20180522,41.204.69.129,0,1,90,0
118,sedidek808,0,US,NaN,20201231,1,20201231,20201231,87.101.95.252,0,1,90,0
170,tradeok9,0,US,NaN,20180501,1,20180501,20180501,107.170.97.37,0,1,90,0
226,princessboutique2050,1,US,NaN,20180109,1,20180109,20180109,197.220.169.147,0,1,90,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
466757,nz04853367,1,NZ,NaN,20230223,1,20230223,20230223,103.8.235.89,1,1,90,1
466758,amandacaroline192991,0,US,NaN,20230223,1,20230223,20230223,143.244.166.194,1,1,90,1
466759,gn04717168,1,GN,NaN,20220525,1,20220525,20220525,81.104.159.62,1,1,90,1
466760,033214,0,PK,NaN,20220525,1,20220525,20220525,182.181.89.146,1,1,90,1
466761,nz04718320,1,NZ,NaN,20220526,1,20220526,20220526,121.74.99.41,1,1,90,1

In [13]:
print(len(Mem_concat['KEYWORD']))
print(Mem_concat['KEYWORD'].isna().sum())

466762
275251

In [17]:
Mem_concat['KEYWORD'].fillna() # .isna().sum()

KeyError: 'CATALOG_NM'

In [4]:
from nltk.stem import WordNetLemmatizer
import nltk
import string  # 구두점 정보 위한

# 문장에 포함된 구두점을 삭제하기 위한 매핑 정보 생성
# ord() : 매개변수로 전달된 문자에 해당하는 유니코드를 반환
remove_punct_dict = { ord(punct):None for punct in string.punctuation } 
lemmar = WordNetLemmatizer()

# 입력으로 문장을 받아서 -> stopword를 제거 -> 
# 소문자로 변환 -> 단어로 다시 토큰화 -> 어근 변환

def LemNormalize(text):
    tokens = nltk.word_tokenize(text.lower().translate(remove_punct_dict)) # 소문자 변환 -> 구두점 제거
    return [lemmar.lemmatize(token) for token in tokens ] # 어근 찾기

In [7]:
Mem_concat['KEYWORD'].apply(lambda x: LemNormalize(x))

AttributeError: 'float' object has no attribute 'lower'