# 정상/이상 회원데이터 로딩 및 concat

In [114]:
import pandas as pd
import numpy as np
Weird_members = pd.read_csv('./dataset/이상회원데이터v2.csv')
Normal_members = pd.read_csv('./dataset/정상회원데이터v2.csv')
Weird_members['judge'] = 0
Normal_members['judge'] = 1
Members = pd.concat([Weird_members, Normal_members], ignore_index=True)

C:\Users\user\AppData\Local\Temp\ipykernel_17800\615075011.py:4: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  Normal_members = pd.read_csv('./dataset/정상회원데이터v2.csv')

# 필요 컬럼만 저장

In [115]:
Members = Members[['MEMBER_ID', 'GUBUN', 'COUNTRY_CD', 'KEYWORD','LOGIN_DT', 'LOGIN_CNT', 'INPUT_DT', 'UPDATE_DT', 'REMOTEIP', 'SHOW_CHK', 'MTYPE', 'ORDER_FLG', 'judge']]

In [68]:
print(Members.columns)
Members.info()

Index(['MEMBER_ID', 'GUBUN', 'COUNTRY_CD', 'KEYWORD', 'LOGIN_DT', 'LOGIN_CNT',
       'INPUT_DT', 'UPDATE_DT', 'REMOTEIP', 'SHOW_CHK', 'MTYPE', 'ORDER_FLG',
       'judge'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466764 entries, 0 to 466763
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   MEMBER_ID   466764 non-null  object
 1   GUBUN       466762 non-null  object
 2   COUNTRY_CD  466579 non-null  object
 3   KEYWORD     191511 non-null  object
 4   LOGIN_DT    466764 non-null  int64
 5   LOGIN_CNT   466764 non-null  int64
 6   INPUT_DT    466764 non-null  int64
 7   UPDATE_DT   466764 non-null  int64
 8   REMOTEIP    466764 non-null  object
 9   SHOW_CHK    466764 non-null  object
 10  MTYPE       466764 non-null  object
 11  ORDER_FLG   466764 non-null  int64
 12  judge       466764 non-null  int64
dtypes: int64(6), object(7)
memory usage: 46.3+ MB

# 'GUBUN'

In [116]:
Members.dropna(subset=['GUBUN'], inplace=True)
Members['GUBUN'] = Members['GUBUN'].replace({'S': 0, 'B': 1, 'M': 2})
Members['GUBUN'].value_counts()

GUBUN
0    254461
1    190797
2     21504
Name: count, dtype: int64

# date 값들 년,월,일만 뽑기

In [118]:
# 'LOGIN_DT'
try:
    Members['LOGIN_DT'] = pd.to_datetime(Members['LOGIN_DT'], format='%Y%m%d%H%M%S')
    Members['LOGIN_DT'] = Members['LOGIN_DT'].dt.strftime('%Y%m%d')  # 예제에서는 연도만 남김
except ValueError as e:
    print(f"Error: {e}")
    print("Skipping datetime conversion.")

In [119]:
# INPUT_DT
try:
    Members['INPUT_DT'] = pd.to_datetime(Members['INPUT_DT'], format='%Y%m%d%H%M%S')
    Members['INPUT_DT'] = Members['INPUT_DT'].dt.strftime('%Y%m%d')  # 예제에서는 연도만 남김
except ValueError as e:
    print(f"Error: {e}")
    print("Skipping datetime conversion.")

In [120]:
# 'UPDATE_DT'
try:
    # Members['LOGIN_DT'] = Members['LOGIN_DT'].astype(str)
    # Members['UPDATE_DT'] = Members['UPDATE_DT'].str.pad(width=14, side='right', fillchar='0')
    Members['UPDATE_DT'] = pd.to_datetime(Members['UPDATE_DT'], format='%Y%m%d%H%M%S')
    Members['UPDATE_DT'] = Members['UPDATE_DT'].dt.strftime('%Y%m%d')  # 예제에서는 연도만 남김
except ValueError as e:
    print(f"Error: {e}")
    print("Skipping datetime conversion.")

# SHOW_CHK

In [122]:
Members['SHOW_CHK'] = Members['SHOW_CHK'].replace({'P': 0, 'A': 1})

Members['SHOW_CHK'].value_counts()

SHOW_CHK
1    373341
0     93421
Name: count, dtype: int64

# MTYPE

In [124]:
Members['MTYPE'] = Members['MTYPE'].replace({'R': 0, 'T': 1})

Members['MTYPE'].value_counts()

MTYPE
1    274840
0    191922
Name: count, dtype: int64

In [125]:
Members.head()

,MEMBER_ID,GUBUN,COUNTRY_CD,KEYWORD,LOGIN_DT,LOGIN_CNT,INPUT_DT,UPDATE_DT,REMOTEIP,SHOW_CHK,MTYPE,ORDER_FLG,judge
0,mobilestore11,0,US,stroller,20210311,1,20210311,20210311,104.129.18.208,0,0,90,0
1,spexstores,0,US,"Electric Bikes,Mobile Phone,Speakers,Drones,Ou...",20221214,7,20221122,20230116,191.101.209.9,0,0,90,0
2,jejrhdh785b,0,CA,Cream,20221223,3,20221122,20221122,209.127.24.6,0,0,90,0
3,hdhdhdhdudh987,0,US,Huggies,20221223,2,20221122,20221122,198.181.163.103,0,0,90,0
4,georgss568,0,US,Baby diapers,20221122,1,20221122,20221122,198.23.242.152,0,0,90,0